<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="true">


	<!-- mybatis配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"
			value="com.ecs.commons.mybatis.mapper,com.ecs.cms.core.dao,com.ecs.cms.core.admin.dao,com.ecs.cms.core.admin.mybatis.mapper" />
	</bean>

	<!-- Activates scanning of @Repository -->
	<context:component-scan base-package="com.ecs.cms.core.admin.dao" />
	<context:component-scan base-package="com.ecs.cms.core.admin.mybatis.mapper" />
	<context:component-scan base-package="com.ecs.cms.core.mybatis.mapper" />
	<context:component-scan base-package="com.ecs.cms.core.dao" />
</beans>
