<?xml version="1.0" encoding="UTF-8"?> <!-- Log4J Configuration for test -->
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.toney">
		<level value="WARN" />
	</logger>

	<!-- BoneCP Loggers, suggest let it output to a file in production env-->
	<logger name="com.jolbox.bonecp">
		<level value="WARN" />
	</logger>
	
	<logger name="net.sf.ehcache">
		<level value="DEBUG" />
	</logger>
	<logger name="org.mybatis">
		<level value="DEBUG" />
	</logger>
	<logger name="com.toney.istyle.core">
		<level value="DEBUG" />
	</logger>

	<!-- Spring Loggers -->
    <logger name="org.springframework">
        <level value="WARN" />
    </logger>   
    
	<logger name="org.springframework.web">
		<level value="WARN" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
